.chat-side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 20px;
  z-index: 100;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: white;
  transition: 0.2s right ease-in-out;

  & > .title {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  & > .content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 12px;
    padding: 12px 16px;
    margin-bottom: 64px;

    & > .message {
      display: flex;
      flex-direction: column;
      padding: 12px 16px;
    }

    & .created-at {
      opaticy: 0.6;
      font-size: 14px;
    }
  }

  & > .scroll-down-button {
    position: absolute;
    bottom: 128px;
    left: 0;
    right: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255 0.16);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  & > .input-wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 16px 16px 16px;
    height: 60px;
    background: black;
    border: 1px solid gray;
    border-radius: 8px;
    align-items: center;
    padding-right: 6px;
    z-index: 100;
    gap: 8px;

    & > input {
      border: none;
      outline: none;
      background: transparent;
      color: white;
      display: flex;
      padding: 20px 0 20px 16px;
      font-weight: 500;
      font-size: 16px;
      flex: 1;
    }
  }
}
