server:
  port: 8081

spring:
  config:
    import: classpath:mcp-config.yml
  application:
    name: gourmetbot

  datasource:
    url: jdbc:mariadb://localhost:3306/springai
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MariaDBDialect

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-5-mini
          temperature: 1.0
      embedding:
        options:
          model: text-embedding-3-small
    vectorstore:
      mariadb:
        initialize-schema: true
        table-name: vector_store
        dimensions: 1536
        distance-type: cosine
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always

logging:
  level:
    org.springframework.ai.chat.client.advisor: DEBUG